@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(0, 100, 255);
  --subtle-secondary: rgba(0, 100, 255, .6);
  --tertiary-color: rgb(241, 241, 241);
  --quarternary-color: rgb(31, 48, 71);

  --active-color: rgba(0, 155, 255, .7);
  --border-color: white;

  --font-primary: black;
  --font-secondary: white;
  --font-dark: black;
  --font-light: white;
  --font-subtle: rgb(211, 211, 211);
  --font-gray: rgba(0, 0, 0, .5);
}
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}
.outlet {
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
